# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native files
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
*.apk

# Native folders
android/
ios/
!google-services/
# Exception: Keep native code in local modules
!modules/**/android/
!modules/**/ios/
# But ignore build folders in modules
modules/**/android/build/
modules/**/ios/build/

# Metro
.metro-health-check*

# Debug / Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Local env files
.env
.env*.local

# VS Code
.vscode/mcp.json

# TypeScript
*.tsbuildinfo

# Yarn (Berry)
.yarn/cache/*
.yarn/install-state.gz
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# ESLint
.eslintcache

# Coverage
coverage/
__coverage__/
coverage-ts/

# Copy/Paste Detection
.jscpd/

# Maestro
maestro/.maestro
maestro/results/
maestro/screenshots/
.maestro-recordings/

.env.local

google-service-account.json
wakemind.db


